    
    <script>
    function checkSubmit(){

      const start = document.forms["fproj"]["start"].value;
      const end = document.forms["fproj"]["end"].value;
      let today = new Date();
      const dd = String(today.getDate()).padStart(2, '0');
      const mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
      const yyyy = today.getFullYear();

      today = yyyy + '-' + mm + '-' + dd;
      if(start >= today){
        console.log(start, today);
        if(start <= end)
          return true;
        else
          return false;
      }else{
        return false;
      }
    
    }
    function toBase64(){
      const file = document.getElementById('fileInput');
      const img = document.getElementById('img');
      const reader = new FileReader();
      reader.onload = () => {
        const base64 = reader.result.split(',')[1];
        img.value = base64;
      };
      reader.readAsDataURL(file.files[0]);
    }
   </script>
    
    <div class="container tm-mt-big tm-mb-big">
      <div class="row">
        <div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
          <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
            <div class="row">
              <div class="col-12">
                <h2 class="tm-block-title d-inline-block"> Agregar proyectos</h2>
              </div>
            </div>
            <div class="row tm-edit-product-row">
              <div class="col-xl-6 col-lg-6 col-md-12">
                <form action="add-project" method="post" class="tm-edit-product-form" name="fproj" onsubmit="return checkSubmit()">
                  <input type="number" hidden name="creator" value={{id}}>
                  <div class="form-group mb-3">
                    <label for="name"> Project Name</label><input id="name" name="name" type="text" class="form-control validate" required/>
                  </div>
                  <div class="form-group mb-3">
                    <label for="desc"> Descripcion</label>
                    <textarea class="form-control validate" rows="3" name="desc"required></textarea>
                  </div>
                  <div class="form-group mb-3">
                    <label for="category" >Categoria</label>
                    <select class="custom-select tm-select-accounts" id="category" name="category" required>
                      <option value="0">None</option>
                      {{#each group}}
                        <option value="{{this.id}}">{{this.name}}</option>
                      {{/each}}
                    </select>
                  </div>
                  <input type="text" hidden id="img" name="img" value>
                  <div class="row">
                      <div class="form-group mb-3 col-xs-12 col-sm-6">
                          <label for="start">Inicio</label>
                          <input name="start" type="date" class="form-control validate" data-large-mode="true" required/>
                        </div>
                        <div class="form-group mb-3 col-xs-12 col-sm-6">
                          <label for="end" >Fin</label>
                          <input id="stock" name="end" type="date" class="form-control validate"  data-large-mode="true"required/>
                        </div>
                  </div>
                  
              </div>
              <div class="col-xl-6 col-lg-6 col-md-12 mx-auto mb-4">
                <div class="tm-product-img-dummy mx-auto">
                  <i class="fas fa-cloud-upload-alt tm-upload-icon" onclick="document.getElementById('fileInput').click();" onchange="toBase64();"></i>
                </div>
                <div class="custom-file mt-3 mb-3">
                  <input id="fileInput" type="file" style="display:none;" name="file" onchange="toBase64()"/>
                  <input type="button" class="btn btn-primary btn-block mx-auto" value="SUBIR CARATULA DE PROYECTO" onclick="document.getElementById('fileInput').click();"/>
                </div>
              </div>
              <div class="col-12">
                <input type="submit" class="btn btn-primary btn-block text-uppercase" value="Agregar proyecto">
              </div>
            </form>
            </div>
          </div>
        </div>
      </div>
    </div>
   

   