<div class="col-12 tm-block-col">
    <div class="tm-bg-primary-dark tm-block tm-block-taller tm-block-scroll">
        <h2 class="tm-block-title"> Lista de proyectos </h2>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col"> Nombre </th>
                    <th scope="col"> Estado </th>
                    <th scope="col"> Tarea </th>
                    <th scope="col"> Horas </th>
                    <th scope="col"> Grupo </th>
                    <th scope="col"> Inicio </th>
                    <th scope="col"> Fin </th>
                </tr>
            </thead>
            <tbody>
              {{#each proyects}}
                <tr>
                    <th scope="row"><b> {{this.name}} </b></th>
                    <td>{{#state this.state  1}}
                        <div class="tm-status-circle moving">
                        </div>Created
                        {{/state}}
                    </td>
                    <td><b> {{this.desc}} </b></td>
                    <td><b> 24 Horas </b></td>
                    <td><b> Programadores </b></td>
                    <td> {{this.start}} </td>
                    <td> {{this.end}} </td>
                </tr>
                {{/each}}
                {{!-- <tr>
                    <th scope="row"><b>Proyect2</b></th>
                    <td>
                        <div class="tm-status-circle pending">
                        </div>Pending
                    </td>
                    <td><b> Diseño de consultas en SQL </b></td>
                    <td><b> 48 Horas</b></td>
                    <td><b> Programadores </b></td>
                    <td> 18:00, 12 NOV 2019</td>
                    <td> 04:00, 18 NOV 2019</td>
                </tr>
                <tr>
                    <th scope="row"><b>Proyect3</b></th>
                    <td>
                        <div class="tm-status-circle cancelled">
                     </div>Test
                    </td>
                    <td><b> Diseño de informes en SQL </b></td>
                    <td><b> 48 Horas</b></td>
                    <td><b> Programadores </b></td>
                    <td> 18:00, 12 NOV 2019</td>
                    <td> 04:00, 18 NOV 2019</td>
                
                <!-- Agregar proyectos -->
                
                </tr> --}}
            </tbody>
            
        </table>
    </br>
        <a
        href="add-project" method="get" class="btn btn-primary btn-block text-uppercase mb-3"> Agregar nuevo proyecto </a>   
    </div>
</div>
</div>
</div>

<div class="container mt-5">
<div class="row tm-content-row">
<div class="col-12 tm-block-col">
<div class="tm-bg-primary-dark tm-block tm-block-products">
  <div class="tm-product-table-container">
    <table class="table table-hover tm-table-small tm-product-table">
            <h2 class="tm-block-title"> Lista de tareas </h2>
      <thead>
        <tr>
          <th scope="col">&nbsp;</th>
          <th scope="col"> Tarea </th>
          <th scope="col"> Estado</th>
          <th scope="col"> Horas </th>
          <th scope="col"> Grupo </th>
          <th scope="col">&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row"><input type="checkbox" /></th>
          <td class="tm-product-name">Tarea 1</td>
          <td> Created </td>
          <td> 24 Horas</td>
          <td> Programadores</td>
          <td>
            <a href="#" class="tm-product-delete-link">
              <i class="far fa-trash-alt tm-product-delete-icon"></i>
            </a>
          </td>
        </tr>
        <tr>
            <th scope="row"><input type="checkbox" /></th>
            <td class="tm-product-name">Tarea 2</td>
            <td> Pending </td>
            <td> 24 Horas</td>
            <td> Programadores</td>
            <td>
            <a href="#" class="tm-product-delete-link">
              <i class="far fa-trash-alt tm-product-delete-icon"></i>
            </a>
          </td>
        </tr>
        <tr>
          <th scope="row"><input type="checkbox" /></th>
          <td class="tm-product-name">Tarea 3</td>
          <td> Test </td>
          <td> 48 Horas</td>
          <td> Programadores</td>
          <td>
            <a href="#" class="tm-product-delete-link">
              <i class="far fa-trash-alt tm-product-delete-icon"></i>
            </a>
          </td>
        </tr>

        <!-- Agregar mas tareas -->

      </tbody>
    </table>
  </div>
  
  <a href="add-task" method="get" class="btn btn-primary btn-block text-uppercase mb-3"> Agregar nueva tarea</a>
  <button class="btn btn-primary btn-block text-uppercase"> Dar de baja a tarea 
  </button>
</div>
</div>

<!-- Esto si queres sacalo-->

<div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-block-col">
    <div class="tm-bg-primary-dark tm-block tm-block-taller tm-block-overflow">
        <h2 class="tm-block-title"> Notificaciones </h2>
        <div class="tm-notification-items">
            <div class="media tm-notification-item">
                <div class="tm-gray-circle"><img src="img/notification01.jpg" alt="Avatar Image" class="rounded-circle"></div>
                    <div class="media-body">
                        <p class="mb-2"><b> La </b> tarea <b> 1 </b> requiere atencion para ser finalizada. </p> 
                        <a href="#" class="tm-notification-link"> <p>&nbsp;&nbsp; Ver tarea </a>
                        <span class="tm-small tm-text-color-secondary"> - 24 hs restantes </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
